body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: "Wolf-Sans-SC-Regular";
    src: url(./assest/font/Wolf-Sans-SC-Regular/Wolf\ Sans\ Regular.ttf);
}

@font-face {
    font-family: "FlamanteRoundBools";
    src: url(./assest/font/FlamanteRoundBook/Flamante-Round-Book-FFP.ttf);
}