.main {
  margin: 40px auto 0;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  min-width: 620px;
  height: 100%;
}


@media screen and (max-width: 428px){
  .main{
    min-width: 100%;
    padding: 0 15px;
  }
}